html, body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: #333;
  height: 100%;
  width: 100%;
}
div {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#wrapper {
  height: 100%;
  width: 100%;
}
#header {
  background: #0a497a;
  background-image: linear-gradient(to bottom, #1B75BC 0px, #15598F 100%);
  background-repeat: repeat-x;
  width: 100%;
  height: 75px;
  border-bottom: solid 3px #666;
}
#title {
  color: #FFF;
  font-weight: 900;
  margin: 0px 20px 0px 20px;
  vertical-align: middle;
}
#page {
  width: auto;
  max-height: 90%;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.al-right {
  text-align: right;
}
.al-left {
  text-align: left;
}
.al-center {
  text-align: center;
}
.right {
  float: right;
}
.left {
  float: left;
}
.white {
  color: #fff;
}
.blue {
  color: #0a497a;
}
.character-card {
  width: 350px;
  height: calc(100vh - 125px);
  background: #eee;
  border-radius: 5px;
  padding: 5px;
  -moz-box-shadow:    6px 6px 6px #111;
  -webkit-box-shadow: 6px 6px 6px #111;
  box-shadow:         6px 6px 6px #111;
  float: left;
  margin: 5px;
  border: solid 2px #999;
}
.attributes {
  height: calc(100% - 135px);
  overflow-y: auto;
}
.category {
  border-bottom: solid 2px #ccc;
  padding: 0px 5px 0px 5px;
  margin-bottom: 3px;

}
.category:hover {
  background: #ccc;
  cursor: pointer;
}
.content {
  overflow-y: auto;
}
.heading {
  font-size: 18pt;
  font-weight: bold;
}
.char-img {
  width: 85px;
  height: 85px;
}
.btn {
  width: 25px;
  height: 24px;
  font-weight: bold;
  border-radius: 5000px;
  border: solid 2px #fff;
  color: #ccc;
  box-shadow: 0 0 3px #000;
  line-height: 15px;
  cursor: pointer;
  margin: 0px 3px 0px 0px;
}
.add-btn {
  background: #009900;
}
.edit-btn {
  background: #000099;
}
.del-btn {
  background: #990000;
}
.big-add-btn {
  border: solid 6px #fff;
  width: 100px;
  height: 100px;
  float: left;
  font-size: 100px;
  margin: 5px 5px 5px 25px;
  cursor: pointer;
}
.stress-table {
  width: 100%;
  border: 0px;
}
.tab {
  vertical-align: bottom;
}
.tab-text {
  background: #333;
  /*background: #666; for unselected tabs */
  font-weight: bold;
  color: #eee;
  margin-left: 5px;
  padding: 0px 15px 0px 15px;
  text-align: left;
  border: solid 3px #666;
  vertical-align: baseline;
  margin-top: 100%;
  border-right: solid 3px #555;
  border-bottom: solid 3px #333;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}
.inactive-tab {
  background: #202020;
  border-bottom: solid 3px #666;
  color: #777;
}
.arrow {
  font-size: 18pt;
  margin: 0px 1px 0px 0px;
}
.hidden {
  display: none;
}
.dice-roller {
  text-align: center;
  width: 80px;
  vertical-align: top;
  padding-top: 13px;
  font-weight: bold;
  color: #fff;
  font-size: 11pt;
}
